<div style="font-family: Arial, sans-serif; color: #333;">
  <p>Dear <b><%= @supplier_name %></b>,</p>
  <p>Please find attached the approved Purchase Order <b><%= @po_code %></b> for <%= @project_name %>.</p>
  <p>Kindly confirm receipt of this email and advise on the delivery schedule.</p>
  <br>
  <p>Best regards,</p>
  <p><b><%= @signer_name %></b><br>SP Bedana</p>
</div>
